.navigationSidebar {
  padding-top: 5rem;
}

.navigationList {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
}

.navigationLink {
  padding: 0.5rem;
}

.navigationLink:hover,
.active {
  background: var(--secondary);
  border-radius: 50%;
}
